No04/BeforeSource/.vs/BeforeSource/DesignTimeBuild/.dtbcache.v2
No04/BeforeSource/.vs/BeforeSource/FileContentIndex/7293afd7-a29f-4406-85ef-9b3ebe0af2bf.vsidx
No04/BeforeSource/.vs/BeforeSource/v17/.futdcache.v2
No04/BeforeSource/.vs/BeforeSource/v17/.suo
No04/BeforeSource/.vs/BeforeSource/v17/DocumentLayout.backup.json
No04/BeforeSource/.vs/BeforeSource/v17/DocumentLayout.json
No04/BeforeSource/.vs/ProjectEvaluation/beforesource.metadata.v9.bin
No04/BeforeSource/.vs/ProjectEvaluation/beforesource.projects.v9.bin
No04/BeforeSource/.vs/ProjectEvaluation/beforesource.strings.v9.bin
No04/BeforeSource/bin/Debug/net8.0/BeforeSource.deps.json
No04/BeforeSource/bin/Debug/net8.0/BeforeSource.dll
No04/BeforeSource/bin/Debug/net8.0/BeforeSource.exe
No04/BeforeSource/bin/Debug/net8.0/BeforeSource.pdb
No04/BeforeSource/bin/Debug/net8.0/BeforeSource.runtimeconfig.json
No04/BeforeSource/bin/Debug/net8.0/data.csv
No04/BeforeSource/obj/BeforeSource.csproj.nuget.dgspec.json
No04/BeforeSource/obj/BeforeSource.csproj.nuget.g.props
No04/BeforeSource/obj/BeforeSource.csproj.nuget.g.targets
No04/BeforeSource/obj/project.assets.json
No04/BeforeSource/obj/project.nuget.cache
No04/BeforeSource/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
No04/BeforeSource/obj/Debug/net8.0/apphost.exe
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.AssemblyInfo.cs
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.AssemblyInfoInputs.cache
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.assets.cache
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.csproj.BuildWithSkipAnalyzers
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.csproj.CoreCompileInputs.cache
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.csproj.FileListAbsolute.txt
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.dll
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.GeneratedMSBuildEditorConfig.editorconfig
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.genruntimeconfig.cache
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.GlobalUsings.g.cs
No04/BeforeSource/obj/Debug/net8.0/BeforeSource.pdb
No04/BeforeSource/obj/Debug/net8.0/ref/BeforeSource.dll
No04/BeforeSource/obj/Debug/net8.0/refint/BeforeSource.dll
# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# ビルド出力
bin/
obj/

# IDE関連
.vscode/
.idea/

# ユーザーごとの設定ファイル
*.user
*.suo

# OSごみファイル
.DS_Store
Thumbs.db

.vs/
